{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/logo.svg" alt="GoBarbar" height="42">
    {% include "_partials/flash.njk"%}
    <input type="text" name="email" placeholder="Your e-mail">
    <input type="password" name="password" placeholder="Your pass">

    <button type="submit">Log In</button>
    <a href="/signup">Register Account</a>
  </form>
{% endblock %}